@{
    ViewBag.Title = "Administration";
}

<br />
<h2>@ViewBag.Title</h2>
<hr />
<br />

<div class="row text-center">
    <div class="col-md-4">
        <a href="/Administration/Category/">
            <div class="btn btn-icon">
                <img src="~/Images/category.png" alt="Categories" />
                <div class="text-btn">Categories</div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Administration/SubCategory/Create">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>
</div>

<br />
<hr />
<br />

<div class="row text-center">
    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>
</div>