@{
    ViewBag.Title = "Administration";
}

<br />
<h2>@ViewBag.Title</h2>
<hr />
<br />

<div class="row text-center">
    <div class="col-md-4">
        <a href="/Administration/Category/">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Categories</div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>
</div>

<br />
<hr />
<br />

<div class="row text-center">
    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="">
            <img src="~/Images/category.png" alt="Categories" />
            <div>Create category</div>
        </a>
    </div>
</div>