html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea*/
.form-control, .input-group {
    max-width: 280px;
}

.index-heading {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: Playbill;
    font-size: 400%;
    text-shadow: 2px 2px 5px black, 2px 2px 100px black;
    color: #fff;
}

.index-form {
    padding: 1%;
    padding-top: 0;
    position: absolute;
    z-index: 100;
    top: 60%;
    left: 70%;
    width: 18%;
    min-width: 185px;
    font-family: "Arial Black";
    text-shadow: 2px 2px 5px black, 2px 2px 100px black;
    color: #fff;
    border: 1px outset #fff;
    border-radius: 5%;
    background-color: rgba(10, 10, 9, 0.50);
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
}

.footer-push, .footer {
    height: 150px;
}

.footer {
    padding: 20px;
    text-align: center;
    color: #b0b0b0;
    background-color: #222222;
}

.avatar-empty {
    padding-top: 1px;
    font-size: 6.3em;
}

.avatar {
    width: 90px;
    height: 90px;
    text-align: center;
    border: 1px solid #c9c9c9;
}

.validation-summary-errors ul {
    padding: 0;
    list-style: none;
}

    .validation-summary-errors ul li {
        margin: 5px 20px;
        list-style: disc;
    }

li.disabled > a, li.active > a {
    pointer-events: none;
}

.form-group > table.table {
    margin-bottom: 0;
}

ul.pagination {
    margin-top: 0;
}

.loading-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image: url("/Images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-color: rgba(0,0,0,.5);
}

.modal-body {
    margin: 20px 0 5px 40px;
}

.warning-delete {
    font-size: .5em;
    color: #b72a2a;
    vertical-align: 2px;
    margin-right: 10px;
}

.sub-categories {
    margin: 25px 10px 0 15px;
    max-width: 490px;
}

.sub-categories-box {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

    .sub-categories-box span:first-of-type,
    .sub-categories-box span:last-of-type {
        border-bottom: none;
        border-radius: 0;
    }

.btn-icon {
    padding: 5px 0 0 0;
    border: 1px solid #e5e5e5;
    background-color: #eafaf3;
}

    .btn-icon:hover {
        color: #ffffff;
        background-color: #B2F9D0;
        border-color: #d2d2d2;
    }

        .btn-icon:hover .text-btn {
            background-color: #eafaf3;
        }

.text-btn {
    margin-top: 5px;
    width: 100px;
    background-color: #B2F9D0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #878AEB;
}
