body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.index-heading {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: Playbill;
    font-size: 400%;
    text-shadow: 2px 2px 5px black, 2px 2px 100px black;
    color: #fff;
}

.index-form {
    padding: 1%;
    padding-top: 0;
    position: absolute;
    z-index: 100;
    top: 60%;
    left: 70%;
    width: 18%;
    min-width: 180px;
    font-family: "Arial Black";
    text-shadow: 2px 2px 5px black, 2px 2px 100px black;
    color: #fff;
    border: 1px outset #fff;
    border-radius: 5%;
    background-color: rgba(10, 10, 9, 0.50);
}

.avatar-container {
    padding-top: 1px;
    width: 226px;
    height: 249px;
    border: 3px solid #b0da4c;
}

.avatar-image {
    padding: 2px 2px 0 2px;
    text-align: center;
    border: 1px dashed #808080;
    font-size: 15em;
}

#avatar-image {
    width: 216px;
    height: 216px;
    display: none;
}

.avatar-label {
    margin: 2px;
    display: block;
    position: absolute;
    width: 216px;
    height: 22px;
    text-align: center;
    color: #2a2bef;
    background-color: #ffe762;
}

.avatar-header {
    display: none;
    position: absolute;
    left: 6px;
    top: 32px;
    width: 214px;
    height: 20px;
    opacity: .7;
    background-color: #000;
}

#avatar-clear {
    padding: 2px 5px 2px 5px;
    display: none;
    position: absolute;
    top: 34px;
    left: 202px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: .6em;
    z-index: 1;
}

    #avatar-clear:hover {
        cursor: pointer;
        color: #fff;
        background-color: #da2323;
    }

.avatar-btn {
    position: absolute;
    top: 0;
    left: 2px;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
    border-top: 24px solid #000;
    border-left: 216px solid #000;
}

.avatar-label:hover {
    text-decoration: underline;
}
